doctype html
html
  head
    title Next-Gen E-cart
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(type="image/png" sizes="16x16" rel="icon" href="./images/icons/icons8-shopping-cart-promotion-16.png")
    link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
    style.
      body,h1,h5 {font-family: "Raleway", sans-serif}
      body, html {height: 100%}
      .bgimg {
      background-image: url('images/img-02.webp');
      min-height: 100%;
      background-position: center;
      background-size: cover;
      }
      /* Google Fonts */
      @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
      /* Global */
      /*html{
      min-height: 100%;
      overflow: hidden;
      }
      body{
      height: calc(100vh - 8em);
      padding: 4em;
      color: rgba(255,255,255,.75);
      font-family: 'Anonymous Pro', monospace;
      background-color: rgb(25,25,25);
      }*/
      .line-1{
      position: relative;
      top: 50%;
      width: 24em;
      margin: 0 auto;
      border-right: 2px solid rgba(255, 255, 255, 0.75);
      font-size: 180%;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      transform: translateY(-50%);
      }
      /* Animation */
      .anim-typewriter{
      animation: typewriter 1s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
      }
      @keyframes typewriter{
      from{width: 0;}
      to{width: 8em;}
      }
      @keyframes blinkTextCursor{
      from{border-right-color: rgba(20, 168, 6, 0.75);}
      to{border-right-color: transparent;}
      }
  body
    .bgimg.w3-display-container.w3-text-white
      .w3-display-middle.w3-jumbo
        p.line-1.anim-typewriter next-Gen E-cart
      .w3-display-topleft.w3-container.w3-xlarge
        p
          button.w3-button.w3-black(onclick="document.getElementById('menu').style.display='block'") about
        p
          button.w3-button.w3-black(onclick="document.getElementById('contact').style.display='block'") feedback
        p
          button.w3-button
            a(href='/home' alt='Broken Link') guest Visit
        p
          button.w3-button
            a(href='/login' alt='Broken Link') login
        p
          button.w3-button
            a(href='/signup' alt='Broken Link') customer Signup
        p
          button.w3-button
            a(href='/seller-signup' alt='Broken Link') seller Signup
      .w3-display-bottomleft.w3-container
        p.w3-xlarge monday - friday 10-18 | saturday - sunday - weekend
        p.w3-large silicon Hills, near DLF cybercity, Patia, Bhubaneswar, Odisha 751024
        p
          | developed by 
          a(href='#profile' target='_blank') Bhanupriya and it's team
    // Menu Modal
    #menu.w3-modal
      .w3-modal-content.w3-animate-zoom
        .w3-container.w3-black.w3-display-container
          span.w3-button.w3-display-topright.w3-large(onclick="document.getElementById('menu').style.display='none'") x
          h1 A brief about us!
        .w3-container
          p
            | next-gen E-cart is a platform designed to promote local businesses, cutage industry and small shop, inspiring small business man
            | to grow thier market reach, that are left overlooked and unrecognised in the very computative gaint ecosystem of e-commerce
            | We are here to help and promote these organization and making them successful. We becomes their technical partner by opening
            | an opertunity to reach a vast number of customer beyond local area and expanding their business.
        .w3-container.w3-black
          h1 Service Area
        .w3-container
          h5
            | Bhubaneswar
            b  15 sub location
          h5
            | Boudh
            b  20 sub location
          h5
            | Balangir
            b  28 sub location
          h5
            | Nayagarh
            b  23 sub location
          h5
            | Cuttack
            b  12 sub location
          h5
            | Sonepur
            b  11 sub location
        .w3-container.w3-black
          h1 Partner Catagoris currently associated with us
        .w3-container
          h5
            | Sambalpuri Sarees
            b  24 partner from Boudh, Sonepur, and Balangir
          h5
            | Organic Vegetables
            b  36 partner from Boudh, Sonepur, Balangir and Cuttack
          h5
            | Chandua
            b  6 partner from Boudh and Cuttack
          h5
            | Home made Clay pot and other home decorative clay materials
            b   3 partner from Balangir
    // Contact Modal
    #contact.w3-modal
      .w3-modal-content.w3-animate-zoom
        .w3-container.w3-black
          span.w3-button.w3-display-topright.w3-large(onclick="document.getElementById('contact').style.display='none'") x
          h1 feedback form
        .w3-container
          p
            | We are greatly welcoming for any suggestion and feedback. We will be very much please to respond your queries and suggestions.
          form(action='#/feedback' target='_blank')
            p
              input.w3-input.w3-padding-16.w3-border(type='text' placeholder='Name' required='' name='Name')
            p
              input.w3-input.w3-padding-16.w3-border(type='number' placeholder='Contact' required='' name='People')
            p
              input.w3-input.w3-padding-16.w3-border(type='datetime-local' placeholder='Date and time' required='' name='date' value='2020-11-16T20:00')
            p
              input.w3-input.w3-padding-16.w3-border(type='text' placeholder='Queries \ Suggestion' required='' name='Message')
            p
              button.w3-button(type='submit') SEND MESSAGE

